.overflow-list-all {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.overflow-list-heading {
    color: rgb(60, 25, 70);
    font-family: "Neuton", serif;
    font-weight: 900;
    font-size: 65px;
}

.overflow-list-heading-first {
    margin-top: 150px;
}

.overflow-list-heading-last {
    margin-bottom: 150px;
}

.overflow-card-container {
    display: flex;
    flex-direction: column;
    /* background: #a53860; */
    background: #084c61;

    width: 1800px;
    margin-bottom: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
}


.overflow-card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1400px;
    background: #eff6e0;
    /* background-color: #f9dbbd; */
    border-bottom: #073b4c solid;
    border-right: #073b4c solid;
    border-left: #073b4c solid;
}

.overflow-card-first {
    border-top: #073b4c solid;
}


.overflow-card-heading a {
    color: rgb(60, 25, 70);
    text-decoration: none;
    /* margin-right: 400px; */
}

.overflow-card-heading {
    margin-right: auto;
}


.overflow-card-content {
    text-align: center;
}

.overflow-card-auth-date {
    margin-right: auto;
    display: flex;
    gap: 70px;
    /* margin-left: 40px; */
}