.blog-list-all {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-list-heading {
    color: rgb(60, 25, 70);
    font-family: "Neuton", serif;
    font-weight: 900;
    font-size: 65px;
}

.blog-list-heading-first {
    margin-top: 150px;
}

.blog-list-heading-last {
    margin-bottom: 150px;
}

.blog-card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    /* background: #243137; */
    background: #084c61;
    width: 1800px;
    padding-top: 150px;
    margin-bottom: 150px;
}

.blog-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
    width: 450px;
    /* background: #d9d9d9; */
    background: #eff6e0;
    border-radius: 6px;
    height: 450px;
}

.blog-card-img {
    width: 500px;
    border-radius: 10px;
    height: 300px;
}

.blog-card-heading a {
    color: #353535;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.blog-card-content {
    text-align: center;
}

.blog-card-auth-date {
    margin-right: auto;
    display: flex;
    gap: 70px;

}

.blog-card-auth-date-content {
    color: #3c6e71;
    font-family: "Neuton", serif;
    font-size: 18px;
    font-weight: 300;
}