.comment-form-all {
    margin-right: auto;
    display: flex;
    flex-direction: column;
} 

.comment-form-heading {
    font-family: "Cabin", sans-serif;
    color: rgb(60, 25, 70);
    font-size: 25px;
    margin-right: auto;
    margin-bottom: 20px;
}

.comment-form-input {
    border: rgb(60, 25, 70) solid 1.7px;
    width: 500px;
    height: 40px;
}

.comment-form-button {
    margin-top: 40px;
    margin-right: auto;
    font-family: "Cabin", sans-serif;
    color: rgb(60, 25, 70);
    font-size: 15px;
    font-weight: 700;
    background-color: #ffdb33;
}