.new-blog-all {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    padding-bottom: 200px;
}

.new-blog-heading {
    color: black;
    margin-bottom: 50px;
    font-family: "Neuton", serif;
    font-weight: 500;
    font-size: 55px;
}

.new-blog-com {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.new-blog-form {
    display: flex;
    flex-direction: column;
}