.fun-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background: #4c1e4f;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 150px; */
}

.fun-heading {
    margin-top: 100px;
    color: #bd9f67;
    margin-bottom: 50px;
    font-family: "Neuton", serif;
    font-weight: 500;
    font-size: 55px;
}

.fun-content {
    width: 800px;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
}

.fun-card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
}

.fun-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: #eff6e0;
    padding: 10px;
    border-radius: 10px;
}

.fun-card-img {
    margin-bottom: 20px;
}

.fun-card-heading {
    margin-bottom: 10px;
}

.fun-card-content {
    margin-bottom: 15px;
}

.fun-button {
    margin: 50px;
}