@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #243137;
    width: 1000px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 125px;
}

.prof-info-profile-pic {
    border-radius: 50%;
    margin-top: 20px;
}

.content {
    width: 800px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.prof-info-content {
    font-family: 'Poppins', sans-serif;
}

.name-stuff {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #bd9f67;
}

.profile img {
    display: block;
    width: 100%;
    height: auto;
}